/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}


header {
    background-color: rgb(229,135,24);  
	line-height: 300%; 
	font-family: Sutro, serif;
}

h1{
	font-size: 2.5em;
    color: rgb(240, 240, 240); 
	padding: 1em 1em 0em;
	font-weight: 700;
	text-transform: none;
}
h2{
    color: rgb(245,221,188);
	font-size: 1.8em;
	padding: 0em 1em 1em 1.4em;
	font-weight: 300;
	text-transform: none;
}

figcaption{
    padding: 1.5em 1.5em 1.5em 2em;
    font-weight:  300px;
    font-style: italic; 
    font-family: poppins, sans-serif;
    line-height: 150%
}

h3{
    color:rgb(229,135,24);
    font-family: Sutro, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    padding:1em 1em 0em 1.3em
}

li{ margin: 1em;
}

ul{
    margin: 0em 1em 2em;
    line-height: 130%;
    font-family: poppins, sans-serif;
}

ol{
    margin: 0em 1em 2em;
    line-height: 130%;
    font-family: poppins, sans-serif;
}

footer {
    background-color: rgb(229,135,24);  
	line-height: 140%; 
	font-family: poppins, sans-serif;
    color: rgb(240, 240, 240);
    padding: 1em 1em 1em 2em;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
